html,
body {
    height: 100%;
    font-family: Arial;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.logout-pane {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 12px;
}

.site-index .topic-line {
    font-size: 24px;
    padding-bottom: 10px;
}
.site-index .topic-line span {
    padding-left: 10px;
    font-size: 10px;
}

.site-topic .topic-name {
    font-size: 24px;
    text-align: center;
}

.site-topic .topic-name span {
    padding-left: 10px;
    font-size: 10px;
}

.site-topic .topic-start-line {
    font-size: 24px;
    text-align: center;

}

.site-topic .question-value {
    text-align: center;
}

.site-topic .question-text-wrap {
    text-align: center;
}

.site-topic .question-text {
    display: inline-block;
    max-width: 500px;
    padding-top: 30px;
    font-size: 15px;
}

.site-topic .answer-line {
    display: inline-block;
    max-width: 500px;
    padding-top: 30px;
    font-size: 15px;
}

.site-topic .skip-question {
    margin-top: 10px;
}

.site-topic .question-timer {
    margin-top: 10px;
    font-size: 32px;
}